.patient-home-container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.left-side {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  position: relative;
}

.right-side {
  width: 75%;
  background-color: #fff3e3;
  padding: 40px;
  display: flex;
  min-height: 100vh;
  overflow-y: auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.title-container {
  width: 100%;
  display: flex;
  justify-content: left;
  margin-top: 0px;
  margin-left: 20px;
}

.title-image {
  margin-top: 20px;
  width: 75%;
  height: auto;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 175px;
}

.menu-item-patient-report {
  display: flex;
  align-items: center;
  gap: 25px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: inherit;
  margin-bottom: 10px;
}

.menu-item-patient-report img {
  padding-left: 17px;
  width: 35px;
  height: 35px;
}

.menu-item-patient-report.link[href="/patient-home-page"] span.home-text {
  color: #516a80 !important;
}

.menu-item-patient-report.link .home-text {
  color: #516A80;
}

.menu-item-patient-report.link .support-text {
  color: #516A80;
}

.menu-item-patient-report.link .my-reports-text {
  color: #2F3B66;
}

.logout {
  position: absolute;
  bottom: 20px;
}

@media (max-width: 800px) {
  .left-side {
    width: 25%;
    align-items: center;
    padding: 10px;
  }

  .right-side {
    width: 75%;
  }

  .title-container {
    justify-content: center;
  }

  .title-image {
    width: 100px;
  }

  .menu {
    width: 100%;
    margin-left: 0px;
  }

  .menu-item-patient-home {
    font-size: 15px;
  }

  .menu-item-patient-home img {
    width: 20px;
    height: 20px;
  }

  .logout {
    width: 100%;
    font-size: 15px;
  }

  .logout img {
    width: 20px;
    height: 20px;
  }
}
