.all-time-trends-reports-container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.left-side-physician {
  width: 25%;
  background-color: #dfe5fb !important;
  padding: 20px;
  position: relative;
}

.title-container {
  width: 100%;
  display: flex;
  justify-content: left;
  margin-top: 0;
  margin-left: 20px;
}

.title-image {
  margin-top: 20px;
  width: 75%;
  height: auto;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 125px;
}

.menu-item-all-time-reports {
  display: flex;
  align-items: center;
  gap: 25px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: inherit;
  margin-bottom: 10px;
}

.menu-item-all-time-reports img {
  padding-left: 17px;
  width: 35px;
  height: 35px;
}

.menu-item-all-time-reports.link span {
  color: inherit;
}

.menu-item-all-time-reports.link:not(.daily):not(.logout) span {
  color: #2f3b66 !important;
}

.menu-item-all-time-reports.link.daily span {
  color: #2f3b66 !important;
}

.menu-item-all-time-reports.link.colored span {
  color: #516a80 !important;
}

.logout {
  position: absolute;
  bottom: 20px;
}

.right-side-physician {
  width: 75%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  background-color: #fff3e3;
  padding-bottom: 50px;
}
