.physician-home-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.left-side-physician {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  background-color: #dfe5fb !important;
}

.title-container {
  width: 100%;
  display: flex;
  justify-content: left;
  margin-top: 0px;
  margin-left: 20px;
}

.title-image {
  margin-top: 20px;
  width: 75%;
  height: auto;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 125px;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 25px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: inherit;
  margin-bottom: 10px;
}

.menu-item img {
  padding-left: 17px;
  width: 35px;
  height: 35px;
}

.menu-item.link span {
  color: inherit;
}

.logout {
  position: absolute;
  bottom: 20px;
}

.right-side-physician {
  width: 75%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 100vh;
  overflow-y: auto;
  background-color: #fff3e3;
}

.disclaimer-subheading {
  margin-top: 50px !important;
}

.disclaimer-text {
  margin-bottom: 50px;
}

.underline {
  text-decoration: underline;
  color: #2F3B66;
}

@media (max-width: 800px) {
  .left-side-physician {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #dfe5fb !important;
  }

  .right-side-physician {
    width: 75%;
  }

  .title-container {
    justify-content: center;
  }

  .title-image {
    width: 100px;
  }

  .menu {
    width: 100%;
    margin-left: 0px;
  }

  .menu-item {
    font-size: 10px;
  }

  .menu-item img {
    width: 20px;
    height: 20px;
  }

  .logout {
    width: 100%;
    font-size: 14px;
  }

  .logout img {
    width: 20px;
    height: 20px;
  }
}
