.memory-vault-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff3e3;
    position: relative;
}

.title-container-instructions {
    position: absolute;
    top: 20px;
    left: 20px;
    justify-content: left;
}

.memory-vault-title {
    font-size: 42px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
}
  
.game-instructions-text {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.memory-items-container {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin: 100px 0;
}
  
.memory-item {
    padding: 30px;
    border-radius: 8px;
    min-width: 120px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

  
.done-button {
    font-weight: bold;
    width: auto;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 50px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;

  }
  
.done-button:hover {
    background-color: #8496aa;
}

.timer {
    position: absolute;
    color: #FFF3E3;
    font-weight: bold;
    right: 5%;
    top: 5%;
    font-size: 20px;
    background-color: #516A80;
    padding: 25px;
    border-style: solid;
    border-radius: 25px;
    border-width: 5px;
    border-color: #2F3B66;
}

.memory-vault-content {
    justify-content: center;
}

.bold {
    font-weight: bold;
}

.memory-input-container {
    justify-content: center;
    text-align: center;
}

.input-container {
    font-size: 18px;
}

.input-textbox {
    font-size: 18px;
    color: #2F3B66;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 75%;
    text-align: center;
}

.hint-button {
    padding: 0;
    background-color: #FFF3E3;
    font-weight: 400;
    color:#2F3B66;
    margin: 15px 20px;
}

.hint-button:hover, .hint-button::after {
    text-decoration: underline;
    background-color: #FFF3E3;
}

.hint-container {
    font-size: 16px;
}

.hint-text {
    margin: 0;
    font-style: italic;
}

.input-container {
    padding: 5px 0;
}

.start-button-container {
    margin-top: 30px;
    text-align: center;
}

.memory-image {
    width: 100px;
    height: 100px;
}

.memory-item {
    align-items: center;
    margin: auto 0;
}

.audio-icon {
    font-size: 35px;
}
